<div class="center jumbotron">
  <h1>Welcome to Sniper!</h1>

  <h2>This is the sniper home page!</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("sniper.png", alt: "Sniper logo"), 'http://drumroll.com/' %>

