<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Sniper, <%= @user.name %>!</h1>

    <p>You have successfully created an account at Sniper.</p>
    <p>The next step is to set up your ebay credentials, and start sniping!</p>
    <p>Use this url blah blah: <%= @url %>.</p>
    <p>Thanks for joining and have a great day!</p>
    <br/>
    <p>-Gabe</p>

  </body>
</html>