<footer class="footer">
  <small>
    2015
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://github.com/">Github</a></li>
    </ul>
  </nav>
</footer>